#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Adtividad de la Semana 6**
###**Árboles de decisión y bosque aleatorio.**

**Nombres y matrículas de los integrantes del equipo:**

*   
*   
*   
*   
*

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

In [4]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.datasets import make_classification

from sklearn.model_selection import train_test_split #Para hacer las particiones
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score         

from sklearn.metrics import classification_report, make_scorer
from imblearn.metrics import geometric_mean_score, classification_report_imbalanced
from sklearn.model_selection import  cross_validate,  RepeatedStratifiedKFold

import os
import pandas as pd

# Considerar librería que añada archivos .asc o revisar si la pasndas tiene esa capacidad

#**Ejercicio-1.**

In [28]:
#Así, con base a datos históricos, el objetivo es predecir si una persona es clasificada como confiable a la
#asignación de un crédito, o no lo es. La variable de salida se llama “kredit”.

In [7]:
#Ruta del archivo a descargarse
#Usamos el mismo metodo read_csv, con el argumento s+, para identificar los espacios en vez de separacion por coma
df= pd.read_csv('SouthGermanCredit.asc', sep='\s+')
df.to_csv('SouthGermanCredit.asc')
df.head()

,laufkont,laufzeit,moral,verw,hoehe,sparkont,beszeit,rate,famges,buerge,...,verm,alter,weitkred,wohn,bishkred,beruf,pers,telef,gastarb,kredit
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,2,1,2,1
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,1,1,2,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,2,1,2,1
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,1,1,1,1
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,2,1,1,1

In [32]:
#Carga los datos y sustituye los nombres de las columnas del alemán al inglés de acuerdo a como se indica en la página de la UCI.

In [1]:
#Creación de espacio s dvalidación y prueba

#Determinamos las columnas que tenda el eje x
X = df.iloc[:,0:20]

#Determinamos las columnas que contendra el eje y
y = df.iloc[:, -1]

#creamos nuestros datos de validación con la función trains_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, train_size=0.85, random_state=10)

X_train.head()

NameError: name 'df' is not defined

,laufkont,laufzeit,moral,verw,hoehe,sparkont,beszeit,rate,famges,buerge,wohnzeit,verm,alter,weitkred,wohn,bishkred,beruf,pers,telef,gastarb
188,2,36,2,6,2273,1,4,3,3,1,1,3,32,3,2,2,3,1,1,2
194,4,12,2,3,1262,1,3,3,3,1,2,3,25,3,2,1,3,2,1,2
225,4,24,4,3,1516,4,3,4,2,1,1,1,43,3,2,2,2,2,1,2
580,1,24,1,3,1546,1,4,4,3,3,4,3,24,1,1,1,2,2,1,2
428,1,12,2,6,1200,5,3,4,2,1,4,2,23,1,1,1,3,2,2,2

#**Ejercicio-2.**

# Nueva sección

In [ ]:
None

#**Ejercicio-3.**

In [ ]:
None

In [ ]:
#Falta poner la formula del arbol, 
#la formulae f

#**Ejercicio-4.**

In [ ]:
None

#**Ejercicio-5.**

In [ ]:
None

#**Ejercicio-6.**

In [ ]:
None

###**Fin de la Actividad de la semana 6.**